---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Aboutus from '../components/Aboutus.astro';
import Ourbusiness from '../components/Ourbusiness.astro';
import ESG from '../components/ESG.astro';
import Ourfruits from '../components/Ourfruits.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Aquaterra'
  description='Championing Responsible Agriculture in Iberia'
>
  <Navbar />

  <main>
    <Hero />
    <Aboutus />
    <Ourbusiness />
    <ESG />
    <Ourfruits />
  </main>

  <Footer />
</Layout>
