---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Logo from '../components/Logo.astro';
---

<style>
  .Hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );

    z-index: 1;

    text-align: center;
  }

  .Hero-content h1 {
    color: var(--color-white);
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    max-width: 260px;
  }

  .Hero-content button {
    display: inline-flex;
    padding: 14px 20px 16px 20px;
    align-items: center;
    gap: 6px;
    margin-top: 90px;
    margin-bottom: 122px;

    font-family: Aeonik;
    font-size: 16px;
    color: var(--color-night-green);

    border-radius: 8px;
    background: var(--color-white);
    border: none;
  }

  video {
    position: relative;

    max-width: 100%;
    height: 100vh;

    z-index: 0;

    object-fit: cover;
  }
</style>

<Layout title='Aquaterra - Championing Responsible Agriculture in Iberia'>
  <Navbar />
  <main>
    <section class='Hero'>
      <div class='Hero-content'>
        <h1>Championing Responsible Agriculture in Iberia</h1>
        <button
          >Watch full video <svg
            xmlns='http://www.w3.org/2000/svg'
            width='9'
            height='10'
            viewBox='0 0 9 10'
            fill='none'
          >
            <path
              d='M8.75012 4.56699C9.08346 4.75944 9.08346 5.24056 8.75012 5.43301L1.25012 9.76314C0.91679 9.95559 0.500123 9.71503 0.500123 9.33013L0.500123 0.669873C0.500123 0.284973 0.91679 0.0444101 1.25012 0.23686L8.75012 4.56699Z'
              fill='#213528'></path>
          </svg></button
        >
      </div>
      <video muted autoplay loop>
        <source src='home_video.mp4' type='video/mp4' />
      </video>
    </section>
    <section>
      <h2>
        We grow premium, sustainable fruits and regenerate nature at scale for
        future generations.
      </h2>
      <p>
        Our environmentally conscious approach to agriculture and focus on
        nature-based solutions benefits climate, restores ecosystems, and
        empowers local communities in the Iberian Peninsula.
      </p>
      <a href='#'>About us</a>
    </section>
    <section>
      <h2>Our Business Pillars</h2>
      <h3>Existing State of Affairs</h3>
      <p>
        As climate change intensifies, agriculture faces growing threats. Rising
        temperatures and extreme weather events are putting farmers and their
        crops at risk.
      </p>
      <p>Sustainability is no longer a differentiator, it’s the baseline.</p>

      <h3>Transformative Future</h3>
      <p>
        We need to transform farming practices to guarantee a livable planet in
        the next few decades and enough food to feed a growing population.
      </p>

      <h3>How are we investing in a climate-resilient future?</h3>
      <div>
        <p>6,000+ ha</p>
        <p>6 farms</p>
      </div>
      <div>
        <div><p>30%</p>Sustainable Farming</div>
        <div><p>70%</p>Nature based solutions</div>
      </div>

      <h3>Our Business Pillars</h3>
      <p>
        At the heart of our business is a commitment to transform agriculture in
        Iberia today for a sustainable tomorrow.
      </p>
      <ul>
        <li>Sustainable Farming <button>+</button></li>
        <li>Nature-Based Solutions <button>+</button></li>
        <li>Innovative Techology <button>+</button></li>
      </ul>

      <h3>The industry as an whole can drive the change</h3>
      <div>
        <p>Decrease in agriculture water wastage</p>
        <p>Achievable through modern and efficient irrigation systems.</p>
      </div>
      <p>
        Source: Hydrology and Earth Systems Science – Water savings potentials
        of irrigation systems: global simulation of processes and leakages
        (2015)
      </p>

      <div>
        <p>Reduction in agriculture GHG emissions</p>
        <p>Achievable by precision agriculture technology and innovation</p>
      </div>
      <p>
        Source: Environmental Research Letters: Achieving net-zero emissions in
        agriculture (2023)
      </p>

      <div>
        <p>CO2 mitigation efforts to meet 2030 global climate goals</p>
        <p>Achievable with nature-based solutions.</p>
      </div>
      <p>
        Source: Proceedings of the National Academy of Sciences: Natural climate
        solutions (2017)
      </p>
      <a href='#'>Learn more about our Business</a>
      <p>Regulatory Authorities & Environmental Partners</p>
    </section>
    <section>
      <h2>ESG Excellence</h2>
      <p>Aquaterra's ESG excellence is rooted in three foundational elements</p>
      <div>
        <h3>Environment</h3>
        <p>
          A business model that combines sustainable farming practices,
          nature-based solutions, and innovative technologies to produce premium
          fruits while protecting and restoring local ecosystems
        </p>
      </div>
      <div>
        <h3>Social</h3>
        <p>
          A long-term investment in rural lands and communities to boost
          regional and national economies
        </p>
      </div>
      <div>
        <h3>Governance</h3>
        <p>
          A commitment to not only adhere to, but also exceed, leading
          environmental standards, as evidenced by our rigorous climate impact
          assessments and environmental auditing process
        </p>
      </div>
      <a href='#'>Our Impact</a>
    </section>
    <section>
      <h3>Premium, Sustainable Fruits</h3>
      <p>
        We grow high-quality, delicious fruits that positively contribute to the
        environment and the communities we serve.
      </p>
      <ul>
        <li>Avocados</li>
        <li>Tangeries</li>
      </ul>
      <a href='#'>Our Fruits</a>
    </section>
  </main>
  <footer>
    <Logo />
  </footer>
</Layout>
