<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px 28px;
  }

  h2 {
    max-width: 285px;
    margin: 40px 0 0 0;

    color: var(--color-forest-green);
    text-align: center;
    font-family: Aeonik;
    font-size: 32px;
    font-weight: 400;
  }

  p {
    color: var(--color-forest-green);
    text-align: center;
    font-family: Aeonik;
    margin: 28px 0 30px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }

  a {
    display: inline-flex;
    padding: 10px 20px 12px 20px;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none;
    border-radius: 8px;
    background: var(--color-forest-green);

    color: var(--color-white);
    font-family: Aeonik;
    font-size: 14px;
    font-weight: 400;
  }

  .Pill {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 40px;
    min-width: 210px;
    background: var(--color-blue-2-50);
    margin-bottom: 6px;

    color: var(--color-forest-green);

    font-family: Aeonik;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
  }

  .Pill-icon {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
  }
</style>

<section>
  <div class='Pill'>
    <div class='Pill-icon'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='13'
        height='14'
        viewBox='0 0 13 14'
        fill='none'
      >
        <path
          d='M10.1323 1.45747C9.77148 0.983928 9.14331 0.777761 8.56669 0.945272C6.9109 1.4317 2.87131 2.8491 1.08023 5.52284C0.54548 6.41194 0.474609 7.22694 0.474609 7.90665C0.474609 9.89746 1.94871 11.3525 3.33325 11.8728C2.65258 12.376 1.90973 12.7661 1.11405 13.0193C0.859563 13.1001 0.719111 13.372 0.799968 13.6262C0.865362 13.8317 1.05574 13.9628 1.26062 13.9628C1.30927 13.9628 1.35855 13.9554 1.4072 13.94C2.87646 13.4725 4.1882 12.6044 5.27284 11.4225C6.72696 9.92162 7.73396 7.96753 8.19655 5.65459C8.2481 5.39044 8.50258 5.21971 8.76351 5.27447C9.02767 5.32601 9.19518 5.5805 9.14364 5.84143C8.59278 8.5957 7.33645 10.8861 5.49705 12.5644C5.49705 12.5644 5.49705 12.5644 5.49705 12.5676C5.52926 12.6321 5.57758 12.6901 5.63879 12.7352C6.58909 13.4632 7.45564 13.4793 8.00971 13.4793H8.04515C11.0858 13.3604 12.4098 10.5288 12.3743 7.77458C12.3518 6.18966 11.7526 3.58357 10.1323 1.45747Z'
          fill='#7FDAE6'></path>
      </svg>
    </div>
    Nature-based solutions
  </div>
  <div class='Pill'>
    <div class='Pill-icon'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='27'
        height='27'
        viewBox='0 0 27 27'
        fill='none'
      >
        <circle cx='13.4252' cy='13.4252' r='13.4252' fill='white'></circle>
        <mask
          id='mask0_1_1038'
          style='mask-type:alpha'
          maskUnits='userSpaceOnUse'
          x='2'
          y='2'
          width='24'
          height='24'
        >
          <rect x='2' y='2' width='24' height='24' fill='#D9D9D9'></rect>
        </mask>
        <g mask='url(#mask0_1_1038)'>
          <path
            d='M13.4252 4.1752C11.0486 4.16097 8.67994 5.12517 6.97471 6.79696C6.12156 7.63089 5.41969 8.62847 4.94082 9.73279C4.4591 10.835 4.1989 12.0385 4.17507 13.2475C4.12277 15.6685 5.07423 18.1229 6.79404 19.8793C7.65324 20.7542 8.68453 21.467 9.82229 21.9445C10.9594 22.4219 12.1935 22.6694 13.4252 22.6755C14.6569 22.6694 15.8914 22.4219 17.0288 21.9445C18.1662 21.467 19.1979 20.7542 20.0571 19.8793C21.7765 18.1229 22.7276 15.6685 22.6753 13.2475C22.6519 12.0385 22.3913 10.835 21.9096 9.73279C21.4304 8.62847 20.7289 7.63089 19.8757 6.79696C18.1705 5.12517 15.8018 4.16097 13.4252 4.1752ZM13.4252 5.5983C14.4285 5.60506 15.426 5.80637 16.3471 6.19381C17.2679 6.5816 18.1028 7.16246 18.7987 7.87401C20.1897 9.30778 20.9452 11.2875 20.8965 13.2475C20.8588 15.2113 20.0098 17.1065 18.6173 18.4395C17.2348 19.7829 15.3407 20.5515 13.4252 20.5408C11.5097 20.5515 9.61566 19.7829 8.23312 18.4395C6.84026 17.1068 5.99165 15.2117 5.95394 13.2475C5.9052 11.2875 6.66068 9.30778 8.05176 7.87401C8.7473 7.16282 9.58252 6.5816 10.5033 6.19381C11.4244 5.80637 12.4219 5.60506 13.4252 5.5983ZM11.2906 8.08872C10.8188 8.08872 10.3663 8.27614 10.0327 8.60975C9.6991 8.94335 9.51169 9.39581 9.51169 9.8676C9.51169 10.3394 9.6991 10.7918 10.0327 11.1255C10.3663 11.4591 10.8188 11.6465 11.2906 11.6465C11.7623 11.6465 12.2148 11.4591 12.5484 11.1255C12.882 10.7918 13.0694 10.3394 13.0694 9.8676C13.0694 9.39581 12.882 8.94335 12.5484 8.60975C12.2148 8.27614 11.7623 8.08872 11.2906 8.08872ZM17.8724 12.7138C17.6365 12.7138 17.4103 12.8075 17.2435 12.9743C17.0767 13.1411 16.983 13.3673 16.983 13.6032C16.983 13.8391 17.0767 14.0654 17.2435 14.2322C17.4103 14.399 17.6365 14.4927 17.8724 14.4927C18.1083 14.4927 18.3345 14.399 18.5013 14.2322C18.6681 14.0654 18.7618 13.8391 18.7618 13.6032C18.7618 13.3673 18.6681 13.1411 18.5013 12.9743C18.3345 12.8075 18.1083 12.7138 17.8724 12.7138ZM9.3338 14.4927C9.09791 14.4927 8.87167 14.5864 8.70487 14.7532C8.53807 14.92 8.44436 15.1462 8.44436 15.3821C8.44436 15.618 8.53807 15.8442 8.70487 16.011C8.87167 16.1778 9.09791 16.2715 9.3338 16.2715C9.56969 16.2715 9.79592 16.1778 9.96273 16.011C10.1295 15.8442 10.2232 15.618 10.2232 15.3821C10.2232 15.1462 10.1295 14.92 9.96273 14.7532C9.79592 14.5864 9.56969 14.4927 9.3338 14.4927ZM13.6031 15.2042C13.2728 15.2042 12.9561 15.3354 12.7226 15.5689C12.4891 15.8025 12.3579 16.1192 12.3579 16.4494C12.3579 16.7797 12.4891 17.0964 12.7226 17.3299C12.9561 17.5634 13.2728 17.6946 13.6031 17.6946C13.9333 17.6946 14.2501 17.5634 14.4836 17.3299C14.7171 17.0964 14.8483 16.7797 14.8483 16.4494C14.8483 16.1192 14.7171 15.8025 14.4836 15.5689C14.2501 15.3354 13.9333 15.2042 13.6031 15.2042Z'
            fill='#7FDAE6'></path>
        </g>
      </svg>
    </div>
    Restores ecosystems
  </div>
  <div class='Pill'>
    <div class='Pill-icon'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='27'
        height='27'
        viewBox='0 0 27 27'
        fill='none'
      >
        <circle cx='13.4252' cy='13.4252' r='13.4252' fill='white'></circle>
        <path
          d='M21.2411 14.1226C21.2411 14.8651 20.9787 15.5462 20.5405 16.0765H6.4495C5.92472 15.4289 5.60929 14.6027 5.60929 13.7038C5.60929 11.7811 7.0477 10.1998 8.90705 9.96784L9.07733 9.45729C8.64354 9.37606 8.15868 9.36992 7.61352 9.47209C7.89824 7.67722 9.45305 6.30664 11.3317 6.30664C12.6766 6.30664 13.8531 7.01231 14.5197 8.07136C15.0224 7.66661 15.6606 7.4232 16.3562 7.4232C17.9752 7.4232 19.2871 8.73516 19.2871 10.3542C19.2871 10.4016 19.2871 10.4491 19.2844 10.4965C18.8302 10.503 18.4031 10.6464 18.0754 10.7969L18.1605 11.0526C18.1642 11.0526 18.1672 11.052 18.1706 11.052C19.8678 11.052 21.2411 12.4254 21.2411 14.1226ZM6.16757 19.8611C6.16757 20.2377 6.47993 20.5428 6.86542 20.5428C7.25091 20.5428 7.56327 20.2377 7.56327 19.8611C7.56327 19.4848 6.86542 18.5888 6.86542 18.5888C6.86542 18.5888 6.16757 19.4848 6.16757 19.8611ZM10.6338 19.8611C10.6338 20.2377 10.9462 20.5428 11.3317 20.5428C11.7172 20.5428 12.0295 20.2377 12.0295 19.8611C12.0295 19.4848 11.3317 18.5888 11.3317 18.5888C11.3317 18.5888 10.6338 19.4848 10.6338 19.8611ZM8.40069 18.1863C8.40069 18.5628 8.71305 18.8679 9.09854 18.8679C9.48403 18.8679 9.79639 18.5628 9.79639 18.1863C9.79639 17.81 9.09854 16.914 9.09854 16.914C9.09854 16.914 8.40069 17.81 8.40069 18.1863ZM15.1 19.8611C15.1 20.2377 15.4124 20.5428 15.7979 20.5428C16.1834 20.5428 16.4957 20.2377 16.4957 19.8611C16.4957 19.4848 15.7979 18.5888 15.7979 18.5888C15.7979 18.5888 15.1 19.4848 15.1 19.8611ZM12.8669 18.1863C12.8669 18.5628 13.1793 18.8679 13.5648 18.8679C13.9503 18.8679 14.2626 18.5628 14.2626 18.1863C14.2626 17.81 13.5648 16.914 13.5648 16.914C13.5648 16.914 12.8669 17.81 12.8669 18.1863ZM19.5663 19.8611C19.5663 20.2377 19.8786 20.5428 20.2641 20.5428C20.6496 20.5428 20.962 20.2377 20.962 19.8611C20.962 19.4848 20.2641 18.5888 20.2641 18.5888C20.2641 18.5888 19.5663 19.4848 19.5663 19.8611ZM17.3332 18.1863C17.3332 18.5628 17.6455 18.8679 18.031 18.8679C18.4165 18.8679 18.7289 18.5628 18.7289 18.1863C18.7289 17.81 18.031 16.914 18.031 16.914C18.031 16.914 17.3332 17.81 17.3332 18.1863Z'
          fill='#7FDAE6'></path>
      </svg>
    </div>
    Benefits climate
  </div>
  <div class='Pill'>
    <div class='Pill-icon'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='13'
        height='14'
        viewBox='0 0 13 14'
        fill='none'
      >
        <path
          d='M10.1323 1.45747C9.77148 0.983928 9.14331 0.777761 8.56669 0.945272C6.9109 1.4317 2.87131 2.8491 1.08023 5.52284C0.54548 6.41194 0.474609 7.22694 0.474609 7.90665C0.474609 9.89746 1.94871 11.3525 3.33325 11.8728C2.65258 12.376 1.90973 12.7661 1.11405 13.0193C0.859563 13.1001 0.719111 13.372 0.799968 13.6262C0.865362 13.8317 1.05574 13.9628 1.26062 13.9628C1.30927 13.9628 1.35855 13.9554 1.4072 13.94C2.87646 13.4725 4.1882 12.6044 5.27284 11.4225C6.72696 9.92162 7.73396 7.96753 8.19655 5.65459C8.2481 5.39044 8.50258 5.21971 8.76351 5.27447C9.02767 5.32601 9.19518 5.5805 9.14364 5.84143C8.59278 8.5957 7.33645 10.8861 5.49705 12.5644C5.49705 12.5644 5.49705 12.5644 5.49705 12.5676C5.52926 12.6321 5.57758 12.6901 5.63879 12.7352C6.58909 13.4632 7.45564 13.4793 8.00971 13.4793H8.04515C11.0858 13.3604 12.4098 10.5288 12.3743 7.77458C12.3518 6.18966 11.7526 3.58357 10.1323 1.45747Z'
          fill='#7FDAE6'></path>
      </svg>
    </div>
    Nature-based solutions
  </div>
  <h2>
    We grow premium, sustainable fruits and regenerate nature at scale for
    future generations.
  </h2>
  <p>
    Our environmentally conscious approach to agriculture and focus on
    nature-based solutions benefits climate, restores ecosystems, and empowers
    local communities in the Iberian Peninsula.
  </p>
  <a href='#'>About us</a>
</section>
