---
import Logo from './Logo.astro';
---

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px 15px 38px 15px;

    background: var(--Light-Cream-2, #f0e9dd);
  }

  footer > div:first-child {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: center;

    padding: 38px 0;

    border-radius: 16px;
    background: var(--White, #fff);
  }

  footer > div:first-child h2 {
    max-width: 220px;
    margin: 0 0 22px 0;

    color: var(--Night-Green-2, #213528);
    text-align: center;
    font-family: Aeonik;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
  }

  footer > div:first-child p {
    max-width: 220px;
    margin: 0 0 22px 0;

    color: var(--Night-Green-2, #213528);
    text-align: center;
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    opacity: 0.6;
  }

  footer > div:first-child a {
    display: inline-flex;
    padding: 10px 20px 12px 20px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background: var(--Forest-Green-2, #275130);

    text-decoration: none;
    color: var(--White, #fff);
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .Logo {
    width: 100%;
    max-width: 125px;

    margin: 33px 0;
  }

  .Columns {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
  }

  .Columns div {
    display: flex;
    flex-direction: column;
    width: 100px;
  }

  .Columns div p {
    margin: 0 0 22px 0;

    color: var(--Forest-Green-2, #275130);
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    opacity: 0.5;
  }

  .Columns div a {
    margin: 0 0 11px 0;

    color: var(--Night-Green-2, #213528);
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
  }

  .Copyright {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Copyright div {
    display: flex;
    flex-direction: column;
  }

  .Copyright a {
    margin: 0;

    color: var(--Forest-Green-2, #275130);
    font-family: Aeonik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
  }

  .Copyright p {
    margin: 0;

    color: var(--Forest-Green-2, #275130);
    text-align: right;
    font-family: Aeonik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    opacity: 0.5;
  }
</style>

<footer>
  <div>
    <h2>Responsible Agriculture. Premium Fruits. Nature-Based Solutions.</h2>
    <p>Get in touch to learn more about our business and our fruits.</p>
    <a href='#'>Learn more</a>
  </div>

  <div class='Logo'>
    <Logo alt />
  </div>

  <div class='Columns'>
    <div>
      <p>What We Do</p>
      <a href='#'>Our Business</a>
      <a href='#'>Our Fruits</a>
      <a href='#'>Our Impact</a>
    </div>
    <div>
      <p>Contact Us</p>
      <a href='#'>Careers</a>
      <a href='#'>Email</a>
      <a href='#'>Location</a>
    </div>
  </div>
  <div class='Columns'>
    <div>
      <p>Who We Are</p>
      <a href='#'>About us</a>
      <a href='#'>Our Mission</a>
      <a href='#'>Our Story</a>
      <a href='#'>Our Team</a>
      <a href='#'>Insights</a>
    </div>
    <div>
      <svg
        width='31'
        height='32'
        viewBox='0 0 31 32'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <rect y='0.714844' width='31' height='31' rx='8' fill='white'></rect>
        <path
          d='M9.34946 8.7748C9.39864 8.76041 9.48741 8.74242 9.54738 8.73283C9.60736 8.72324 9.72611 8.71604 9.81128 8.71484C9.89764 8.71484 10.0224 8.72204 10.0932 8.73283C10.1627 8.74362 10.2647 8.76521 10.3211 8.7808C10.3774 8.79758 10.4686 8.82996 10.525 8.85274C10.5814 8.87553 10.6701 8.9187 10.7229 8.94868C10.7757 8.97985 10.8597 9.03381 10.9088 9.07099C10.958 9.10816 11.036 9.17291 11.0816 9.21608C11.1259 9.25925 11.1943 9.3324 11.2327 9.37917C11.2699 9.42593 11.3263 9.50028 11.3551 9.54704C11.385 9.59381 11.433 9.67655 11.4606 9.73291C11.4882 9.78927 11.5266 9.87561 11.5446 9.92477C11.5626 9.97394 11.5938 10.0795 11.6118 10.1586C11.6429 10.2929 11.6453 10.3193 11.6453 10.5543C11.6453 10.7678 11.6417 10.8241 11.6202 10.9261C11.6058 10.992 11.577 11.0939 11.5566 11.1539C11.5362 11.2138 11.4894 11.3218 11.4534 11.3937C11.4174 11.4657 11.3515 11.576 11.3071 11.6383C11.2627 11.7007 11.1751 11.8026 11.1116 11.8662C11.048 11.9297 10.946 12.0173 10.8836 12.0616C10.8213 12.106 10.7109 12.172 10.6389 12.2079C10.567 12.2451 10.459 12.2907 10.399 12.3099C10.3391 12.329 10.2503 12.353 10.2011 12.3638C10.1519 12.3734 10.0464 12.3878 9.96721 12.3962C9.85806 12.407 9.78848 12.407 9.67933 12.3962C9.60016 12.3878 9.4946 12.3734 9.44542 12.3638C9.39624 12.353 9.30748 12.329 9.2475 12.3087C9.18753 12.2895 9.09156 12.2499 9.03159 12.2211C8.97281 12.1923 8.88285 12.1432 8.83367 12.1108C8.78449 12.0784 8.69812 12.0137 8.64174 11.9669C8.58537 11.9201 8.5026 11.8398 8.45822 11.7882C8.41263 11.7355 8.34306 11.6455 8.30348 11.5856C8.26389 11.5256 8.21112 11.4369 8.18593 11.3877C8.16074 11.3386 8.12115 11.2438 8.09836 11.1779C8.07557 11.1119 8.04438 11.0016 8.02879 10.932C8.0036 10.8217 8 10.775 8 10.5603C8 10.3697 8.0048 10.2905 8.02279 10.2066C8.03479 10.1466 8.06238 10.0423 8.08517 9.97274C8.10916 9.90319 8.14994 9.80126 8.17753 9.7449C8.20512 9.68854 8.26269 9.58901 8.30708 9.52306C8.35146 9.45711 8.43543 9.35278 8.493 9.29043C8.55178 9.22807 8.64294 9.14413 8.69572 9.10216C8.7485 9.06139 8.84326 8.99784 8.90564 8.96067C8.96801 8.92349 9.07357 8.87193 9.13954 8.84555C9.20552 8.82037 9.30028 8.78799 9.34946 8.7748Z'
          fill='#213528'></path>
        <path
          d='M18.8317 13.4442C18.9036 13.4334 19.0476 13.4203 19.1495 13.4155C19.2515 13.4107 19.4026 13.4095 19.4854 13.4119C19.5682 13.4131 19.7001 13.4203 19.7793 13.4275C19.8585 13.4334 19.9796 13.4466 20.0492 13.4574C20.1188 13.467 20.2507 13.4922 20.3431 13.5114C20.4354 13.5318 20.5974 13.5773 20.7029 13.6121C20.8085 13.6469 20.9572 13.7045 21.0328 13.738C21.1084 13.7716 21.2187 13.8268 21.2787 13.8603C21.3387 13.8939 21.4382 13.9551 21.5006 13.997C21.563 14.039 21.6601 14.1098 21.7165 14.1541C21.7729 14.1985 21.8784 14.2944 21.9504 14.3676C22.0236 14.4395 22.1196 14.545 22.1639 14.6014C22.2095 14.6578 22.2875 14.7657 22.3391 14.8412C22.3894 14.9168 22.4638 15.0391 22.5022 15.111C22.5418 15.183 22.6006 15.3077 22.6353 15.3868C22.6689 15.466 22.7217 15.6039 22.7517 15.6926C22.7817 15.7814 22.8249 15.9324 22.8489 16.0284C22.8717 16.1243 22.9016 16.2646 22.916 16.3402C22.9292 16.4157 22.952 16.5704 22.9928 16.8858L23 23.7148H19.9172L19.9136 20.8873C19.91 18.7732 19.9064 18.0357 19.8956 17.959L19.8945 17.951C19.8859 17.8939 19.8724 17.8027 19.8621 17.7431C19.8513 17.6808 19.8309 17.5777 19.8153 17.5153C19.7997 17.453 19.7673 17.345 19.7433 17.2755C19.7193 17.2059 19.6701 17.0932 19.6341 17.0237C19.5982 16.9541 19.5346 16.8522 19.4926 16.7958C19.4506 16.7395 19.3798 16.6591 19.3343 16.616C19.2887 16.5728 19.2167 16.514 19.1735 16.484C19.1303 16.4553 19.0416 16.4061 18.9756 16.3737C18.9096 16.3426 18.8041 16.3042 18.7417 16.2874C18.6793 16.2706 18.5846 16.2502 18.5318 16.2418C18.479 16.2334 18.3411 16.2274 18.2259 16.2274C18.1108 16.2262 17.968 16.2334 17.908 16.243C17.8481 16.2514 17.7461 16.2718 17.6801 16.2874C17.6142 16.3042 17.5122 16.3366 17.4522 16.3605C17.3922 16.3833 17.2927 16.4337 17.2303 16.4697C17.1679 16.5068 17.0708 16.5752 17.0144 16.6231C16.958 16.6699 16.88 16.7491 16.8393 16.797C16.7985 16.8462 16.7409 16.9241 16.7121 16.9697C16.6821 17.0153 16.6329 17.1016 16.603 17.1616C16.573 17.2215 16.5298 17.3234 16.507 17.3894C16.4842 17.4554 16.4518 17.5657 16.435 17.6352C16.4182 17.7048 16.3918 17.8367 16.3499 18.0969L16.3427 23.7148H13.3679V13.714H16.3427L16.3487 15.0451L16.423 14.9336C16.4638 14.8736 16.5334 14.7777 16.5778 14.7213C16.6234 14.665 16.7373 14.5402 16.8333 14.4443C16.9304 14.3484 17.0648 14.2249 17.1343 14.1697C17.2039 14.1146 17.3227 14.0294 17.3982 13.9791C17.4738 13.9287 17.6178 13.8471 17.7161 13.7968C17.8157 13.7464 17.9584 13.6805 18.034 13.6505C18.1096 13.6205 18.2367 13.5773 18.3159 13.5546C18.395 13.5318 18.5138 13.5018 18.5798 13.4886C18.6457 13.4742 18.7597 13.455 18.8317 13.4442Z'
          fill='#213528'></path>
        <path
          d='M8.29388 23.7148V18.7144V13.714H11.3886V23.7148H8.29388Z'
          fill='#213528'></path>
      </svg>
    </div>
  </div>
  <div class='Copyright'>
    <div>
      <a href='#'>Privacy Policy</a>
      <a href='#'>Terms & Conditions</a>
    </div>
    <div>
      <p>© 2024 All rights reserved</p>
      <p>Shaped by Onda</p>
    </div>
  </div>
</footer>
