---
import Logo from '../components/Logo.astro';
---

<style>
  .Nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 40px 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 2;

    transition: transform 0.3s ease-in-out;
  }

  .Nav.is-hidden {
    transform: translateY(-140px);
  }

  .Nav-logo {
    width: 125px;
    height: 35px;
  }

  .Nav-links {
    display: none;
    padding: 10px 16px 12px 16px;
    align-items: flex-start;
    gap: 24px;
  }

  .Nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .Nav-burger {
    width: 43px;
    height: 43px;
  }

  .Nav-contact {
    display: none;
    padding: 10px 16px 12px 16px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    border: 1px solid var(--Black, rgba(0, 0, 0, 0.05));
    background: var(--Bright-Yellow-2, #fcff79);

    color: var(--Forest-Green-2, #275130);
    text-decoration: none;
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  @media screen and (min-width: 1024px) {
    .Nav {
      padding: 45px 65px;
    }

    .Nav-links {
      display: inline-flex;
    }

    .Nav-burger {
      display: none;
    }

    .Nav-contact {
      display: inline-flex;
    }
  }
</style>

<script>
  window.onload = () => {
    let scrollPosition = window.scrollY;
    const navbar = document.getElementById('navbar');

    console.log(scrollPosition);
    window.scrollY;

    window.onscroll = () => {
      const currentScrollPosition = window.scrollY;
      console.log('here');
      if (scrollPosition > currentScrollPosition) {
        navbar.classList.remove('is-hidden');
      } else {
        navbar.classList.add('is-hidden');
      }

      scrollPosition = currentScrollPosition;
    };
  };
</script>

<nav class='Nav' id='navbar'>
  <div class='Nav-logo'>
    <Logo />
  </div>

  <div class='Nav-links'>
    <a href='#'>About us</a>
    <a href='#'>Our Business</a>
    <a href='#'>Our Fruits</a>
    <a href='#'>Our Impact</a>
    <a href='#'>Insights</a>
  </div>

  <svg
    class='Nav-burger'
    xmlns='http://www.w3.org/2000/svg'
    viewBox='0 0 43 43'
    fill='none'
  >
    <line
      x1='9'
      y1='25.25'
      x2='33'
      y2='25.25'
      stroke='#FBFBF5'
      stroke-width='1.5'></line>
    <line
      x1='9'
      y1='16.25'
      x2='33'
      y2='16.25'
      stroke='#FBFBF5'
      stroke-width='1.5'></line>
  </svg>
  <a class='Nav-contact' href='#'>Contact us</a>
</nav>
