<style>
  section {
    border-radius: 10px 10px 0px 0px;
    background: #1c2e23;
    padding: 86px 28px 56px 28px;
  }

  h2 {
    margin: 0 0 24px 0;
    color: var(--color-white);
    text-align: center;
    font-feature-settings: 'ss06' on;
    font-family: Aeonik;
    font-size: 46px;
    font-weight: 400;
  }

  h3 {
    margin: 76px 0 20px 0;
    max-width: 320px;

    color: #cce9d2;
    text-align: center;
    font-family: Aeonik;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.24px;
  }

  img {
    display: block;
    border-radius: 50%;
    margin-top: 40px;
  }

  .Label {
    margin: 0;
    display: inline-flex;
    padding: 4px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: var(--Bright-Yellow-2, #fcff79);

    color: #182824;
    text-align: center;
    font-family: Aeonik;
    font-size: 14px;
    font-weight: 400;
  }

  .Label.Label--alt {
    border-radius: 8px;
    background: var(--Smooth-Green-2, #cce9d2);
  }

  p {
    margin: 18px 0 0 0;
    color: #f1f2d9;
    font-family: Aeonik;
    font-size: 14px;
    font-weight: 400;
  }

  .Highlight {
    display: flex;
    width: 248px;
    height: 248px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 44px auto 77px auto;
    gap: 12.877px;
    flex-shrink: 0;

    border-radius: 171.692px;
    background: #253a2c;
  }

  .Highlight p {
    max-width: 163px;
    margin: 0;

    color: #fdff99;
    text-align: center;
    font-family: Aeonik;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
</style>

<section>
  <h2>Our Business Pillars</h2>
  <h3 class='Label'>Existing State of Affairs</h3>
  <img src='img1.jpg' />
  <p>
    As climate change intensifies, agriculture faces growing threats. Rising
    temperatures and extreme weather events are putting farmers and their crops
    at risk.
  </p>
  <div class='Highlight'>
    <p>Sustainability is no longer a differentiator, it’s the baseline.</p>
  </div>

  <h3 class='Label Label--alt'>Transformative Future</h3>
  <img src='img2.jpg' />
  <p>
    We need to transform farming practices to guarantee a livable planet in the
    next few decades and enough food to feed a growing population.
  </p>

  <h3>How are we investing in a climate-resilient future?</h3>
  <div>
    <p>6,000+ ha</p>
    <p>6 farms</p>
  </div>
  <div>
    <div><p>30%</p>Sustainable Farming</div>
    <div><p>70%</p>Nature based solutions</div>
  </div>

  <h3>Our Business Pillars</h3>
  <p>
    At the heart of our business is a commitment to transform agriculture in
    Iberia today for a sustainable tomorrow.
  </p>
  <ul>
    <li>Sustainable Farming <button>+</button></li>
    <li>Nature-Based Solutions <button>+</button></li>
    <li>Innovative Techology <button>+</button></li>
  </ul>

  <h3>The industry as an whole can drive the change</h3>
  <div>
    <p>Decrease in agriculture water wastage</p>
    <p>Achievable through modern and efficient irrigation systems.</p>
  </div>
  <p>
    Source: Hydrology and Earth Systems Science – Water savings potentials of
    irrigation systems: global simulation of processes and leakages (2015)
  </p>

  <div>
    <p>Reduction in agriculture GHG emissions</p>
    <p>Achievable by precision agriculture technology and innovation</p>
  </div>
  <p>
    Source: Environmental Research Letters: Achieving net-zero emissions in
    agriculture (2023)
  </p>

  <div>
    <p>CO2 mitigation efforts to meet 2030 global climate goals</p>
    <p>Achievable with nature-based solutions.</p>
  </div>
  <p>
    Source: Proceedings of the National Academy of Sciences: Natural climate
    solutions (2017)
  </p>
  <a href='#'>Learn more about our Business</a>
  <p>Regulatory Authorities & Environmental Partners</p>
</section>
