---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <link rel='icon' type='image/svg+xml' href='/aquaterra.farm/favicon.svg' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Aeonik';
    src:
      url('/aquaterra.farm/Aeonik-Regular.woff2') format('woff2'),
      url('/aquaterra.farm/Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-white: #fbfbf5;
    --color-solid-white: #ffffff;
    --color-2: #f6f2eb;
    --color-light-cream: #f0e9dd;
    --color-17: #f7f4ed;
    --color-10: #f1f2d9;
    --color-14: #0000004d;
    --color-11: #18282480;
    --color-12: #1f3226;
    --color-15: #1b2d22;
    --color-16: #1c2e23;
    --color-text: #271e1d;
    --color-1: #182824;
    --color-forest-green: #275130;
    --color-night-green: #213528;
    --color-3: #325a35;
    --color-4: #253a2c;
    --color-7: #274130;
    --color-5: #275130;
    --color-8: #b7e0bf;
    --color-9: #cce9d2;
    --color-blue-2-50: #eaf9fb;
    --color-blue: #c7eff4;
    --color-6: #7fdae6;
    --color-13: #92dce5;
    --color-bright-yellow: #fcff79;
    --color-18: #fdff99;
    --color-orange: #ffa34e;
    --color-smooth-green: #cce9d2;
  }

  html,
  body {
    font-family: 'Aeonik', system-ui, sans-serif;
    margin: 0;
    padding: 0;
  }
</style>
